:root {
  --navbar-height: 60px;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

button.btn {
  background-color: #0056b3;
}

.new{
  margin-top: 30px;
  width: 100%;
  height: 800px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.inner{
  border: 1px solid white;
  border-radius: 10px;
  background-color: black;
  height: 700px;
  width: 600px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 60px;
}

.more--inner{
  
  border-radius: 10px;
  margin-top: 20px;
  height: 500px;
  width: 500px;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form--div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 /* table */
 .table--outer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.table--div {
  width: 600px;
  background-color: #6D4C41; /* Dark wood color for the table */
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table--div h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.table-record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  padding: 8px 16px;
  margin: 10px 0;
  background-color: transparent;
  color: white;
}

#section {
  display: flex;
  justify-content: space-between;
}

/* DashboardHeader.css */
.dashboard-header {
  display: flex;
  justify-content: space-between;
}

.dashboard-item, .energy-usage-chart, .energy-usage-pie-chart, .meter-list, .table-info {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 10px; /* Ensure there's a margin on both sides */
  flex-grow: 1;
}

.icon {
  font-size: 1.5rem; /* Adjust the size as needed */
  margin-left: 0.5rem; /* Space between text and icon */
}

.progress-bar-background {
  background-color: #ddd;
  height: 10px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  background-color: #4caf50; /* This color should be visible */
  height: 100%;
  border-radius: 5px; /* Apply to the left side only if necessary */
  transition: width 0.5s ease-in-out;
}

/* Ensure the progress bar is visible even at low percentages */
.progress-bar::after {
  content: '';
  display: block;
  background-color: #4caf50; /* Same as the progress bar for consistency */
  width: 100%;
  height: 100%;
}


@media (max-width: 768px) {
  .dashboard-header {
    flex-direction: column;
  }

  .dashboard-item {
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
  }
}

.page-centered-content {
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.meter-list h2 {
  margin-bottom: 15px;
}

.meter {
  margin:0%;
  padding: 0%;
}

.meter-number {
  font-weight: bold;
  width: 30px; /* Width of the label area */
  display: inline-block;
}

.meter-bar {
  height: 20px;
  border-radius: 5px;
  color: white;
  line-height: 20px;
  padding-left: 5px;
  background-color: #ddd;
  overflow: hidden; /* Ensure the content doesn't overflow */
  position: relative; /* For text positioning */
}

.meter-bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: inherit;
  transition: width 0.4s ease;
}

.meter-bar:hover::before {
  width: 100%;
}

.chart, .pie-chart {
  height: 200px;
  margin-top: 10px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

/* Table */
.header-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Optional: Style for the sorting button for visual improvement */
.table .btn-sm {
  padding: 0.25rem 0.5rem;
  margin-left: 10px; /* Ensures some space between the text and the button */
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

